<div class="text-right pt-3 pr-3">
  <h5 style="color: red;">※動画を編集する際は動画から編集してください</h5>
</div>
<div class="container mt-2">
  <%= form_with model: @post, url: post_path(@post), method: :patch, multipart: true do |f| %>
    <div class="mt-3">
      <h5>コメント</h5>
      <%= f.text_area :content, rows: 2, style: "width: 30%;" %>
    </div>

    <div class="mt-3 mb-3">
      <h5>画像のアップロード（添付したい画像を全て選択してください）</h5><br>
      <%= f.file_field :images, multiple: true, accept: "image/*" %>
    </div>

    <% if @post.images.present? %>
      <div class="mt-3">
        <h5>削除のみの方はこちら<br>削除するものにチェックしてください</h5><br>
        <% @post.images.each do |image| %>
          <div class="col-md-2">
            <%= image_tag image, size: "100x100" %>
            <%= f.check_box :image_ids, { multiple: true }, image.id, false %>
          </div>
        <% end %>
      </div>
    <% end %>
    <div class="mt-3">

    <%= link_to "動画URLを編集する", edit_post_youtube_urls_path(@post.id) %>
  
    </div>
      
    
    
    <div class="mt-3">
      <h4>ジャンル</h4>
      <div class="form-group">
        <%= f.collection_select :genre_id, Genre.all, :id, :name, { prompt: '--選択してください--' }, class: "form-control", style: "width: 200px;" %>
      </div>
    </div>

    <div class="mt-3">
      <%= f.submit '変更を保存', class: "btn btn-info" %>
    </div>
  <% end %>
</div>

