<%= form_with model: @post do |f| %>
  <h4>コメント</h4>
  <%= f.text_area :content %>

	<h4>画像</h4>
  <%= f.file_field :images, multiple: true, accept: "image/*" %>

  <h4>Youtube URL(※複数の動画をつけたい場合は改行して入力してください)</h4>
  <%= text_area_tag :youtube_url %>

  <h4>ジャンル</h4>
  <div class="field">
    <%= f.label :genre_id, 'ジャンル' %>
    <%= f.collection_select :genre_id, Genre.all, :id, :name, { prompt: '--選択してください--' } %>
  </div>

  <%= f.submit '投稿' %>
<% end %>
