<div class="container-fluid pt-3">
  <%= form_with model: @youtube_url, url: post_youtube_urls_path(@post.id), method: :patch, scope: :youtube_url do |f| %>
    <div class="row">
      <% if @post.youtube_url.present? %>
        <% @youtube_url.path.split(/\R/).each do |url| %>
          <div class="col-md-4 pl-3 mt-5"> <!-- 3つの動画を1行に並べる -->
            <iframe width="224" height="126" src="https://www.youtube.com/embed/<%= url.last(11) %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br>
            https://www.youtube.com/embed/<%= url.last(11) %><br>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="row mt-5">
      <h4>Youtube URL(※複数の動画をつけたい場合は改行して入力してください。空行不可)</h4>
    </div>
    <%= f.text_area :path, rows: 5, style: "width: 50%;" %><br>
    <%= f.submit '変更を保存', class: "btn btn-info" %>
  <% end %>
</div>
