<% if user.avatar.attached? %>
  <%= image_tag user.avatar, size: "100x100" %><br>
<% end %>
<table class="table">
  <tbody>
    <tr>
      <th> &nbsp;&nbsp; </th>
      <th><%= user.is_member ? '生徒' : '家族' %></th>
    </tr>
    <tr>
      <th>表示名</th>
      <th><%= link_to user.disply_name, admin_user_path(user) %></th>
    </tr>
    <tr>
      <th>氏名</th>
      <th>
        <%= link_to admin_user_path(user) do %>
          <%= user.family_name %>
          <%= user.first_name %>
        <% end %>
      </th>
    </tr>
    <tr>
      <th>属柄</th>
      <th><%= user.family_relationship %></th>
    </tr>
    <tr>
  </tbody>
</table>
<%= link_to "ユーザー編集", edit_admin_user_path(user), class: "btn btn-success", style: "border-radius: 6px;" %>


