<%= form_with model: @user, url: admin_user_path(@user.id), method: :patch, local: true do |f| %>
  <table>
    <tr>
      <td>名前</td>
      <td><%= f.text_field :family_name %></td>
      <td><%= f.text_field :first_name %></td>
    </tr>
    <tr>
      <td>表示名</td>
      <td colspan="2"><%= f.text_field :disply_name %></td>
    </tr>
    <tr>
      <td>属柄等</td>
      <td colspan="2"><%= f.text_area :family_relationship, style: "width: 100%;" %></td>
    </tr>
    <tr>
      <td>
        <%= f.radio_button :is_member, true %>
        <%= f.label :is_member, "生徒" %>
      </td>
      <td>
        <%= f.radio_button :is_member, false %>
        <%= f.label :is_member, "家族" %>
      </td>
    </tr>
  </table>

  <%= f.submit "変更を保存", class: "btn btn-success" %>
<% end %>
