<!DOCTYPE html>
<html>
  <head>
    <title>Cheemmate</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/c067b314d4.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <h4>Cheemmate</h4>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto">

            <% if user_signed_in? %>

              <p class="navbar-text mx-auto pr-5 text-break font-weight-bold" >ようこそ、<%= current_user.disply_name %> さん！</p>

              <li class="nav-item">
                <%= link_to "マイページ", user_path(current_user),class:"nav-link text-light" %>
              </li>
              <li class="nav-item">
                <%= link_to "ブックマーク一覧", post_bookmarks_path(current_user),class:"nav-link text-light" %>
              </li>
              <li class="nav-item">
                <%= link_to "新規投稿", new_post_path,class:"nav-link text-light" %>
              </li>
              <li class="nav-item">
                <%= link_to "投稿一覧", posts_path,class:"nav-link text-light" %>
              </li>
              <li class="nav-item">
                <%= link_to "ログアウト", destroy_user_session_path, method: :delete,class:"nav-link text-light" %>
              </li>

            <% elsif admin_signed_in? %>
            <!-- 管理者ログイン時のメニュー -->
              <li class="nav-item">
                <%= link_to "ジャンル一覧", admin_genres_path,class:"nav-link text-light" %>
              </li>
              <li class="nav-item">
                <%= link_to "会員一覧", admin_homes_top_path,class:"nav-link text-light" %>
              </li>
              <li class="nav-item">
                <%= link_to "投稿一覧", admin_posts_path,class:"nav-link text-light" %>
              </li>
              <li class="nav-item">
                <%= link_to 'ログアウト', destroy_admin_session_path, method: :delete,class:"nav-link text-light" %>
              </li>
            <% else %>
              <!-- ログイン前 -->
              <li>
                <%= link_to "ログイン", new_user_session_path, class: "nav-link text-light" %>
              </li>
              <li class="nav-item">
                <%= link_to "新規登録", new_user_registration_path, class: "nav-link text-light" %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>

    <%= flash[:notice] %>
    <%= yield %>
  </body>

  <footer>
    <!--mt=margin top-->
    <div class="container mt-5">
      <div class="row">
        <!--mx=左右のmargin-->
        <div class="mx-auto">
          <p>お問合せはこちらまで：000-000-0000</p>
        </div>
      </div>
    </div>
  </footer>
</html>
